clamp .clamped-box {
  background-color: @theme_base_color;
  transition-property: margin;
  transition-duration: 200ms;
}

clamp.medium .clamped-box {
  border-left: 1px solid @borders;
  border-right: 1px solid @borders;
}

clamp.large .clamped-box {
  border: 1px solid @borders;
  border-radius: 9px;
  margin: 12px;
}

.pron-card {
  background-color: @theme_bg_color;
  border-radius: 9px;
  border: 1px solid @borders;
}