/* Favorite items styling */
.favorite-item {
    background-color: alpha(@accent_color, 0.1);
}

.favorite-item:hover {
    background-color: alpha(@accent_color, 0.15);
}

/* History list row styling for favorites */
listbox row.favorite-item {
    background-color: alpha(@accent_color, 0.08);
}

listbox row.favorite-item:hover {
    background-color: alpha(@accent_color, 0.12);
}

listbox row.favorite-item:selected {
    background-color: alpha(@accent_color, 0.2);
}

/* WordNet lemma button styling (eg: synonym buttons) */

.lemma-button {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 1px;
  padding-bottom: 1px;
  color: @accent_fg_color;
  background-color: @accent_bg_color;
}
