[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Wordbook
Exec=wordbook
Comment=Lookup definitions for any term
Terminal=false
Type=Application
Icon=com.github.fushinari.Wordbook
Categories=Education;GTK;
Keywords=dictionary;
X-Purism-FormFactor=Workstation;Mobile;
