[Desktop Entry]
Name=Wordbook
GenericName=Dictionary
Comment=Lookup definitions for any term
Exec=wordbook
Terminal=false
Type=Application
Icon=com.github.fushinari.Wordbook
Categories=Education;GNOME;GTK;
Keywords=dictionary;
X-Purism-FormFactor=Workstation;Mobile;
StartupNotify=true
